body
{
	background-image: url('grad.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.background
{
	max-width:700px;
	padding: 20px;
	position: relative;
	margin: 20px auto;
	background: rgba(255,255,255,0.8);
	font-family: Quicksand;
}

::-webkit-scrollbar { 
    display: none; 
}